@(title: String)

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@title</title>

	<!-- Global stylesheets -->
	 <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
     <link href="@routes.Assets.versioned("css/icons/icomoon/styles.min.css")" rel="stylesheet" type="text/css">
     <link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet" type="text/css">
     <link href="@routes.Assets.versioned("css/bootstrap_limitless.min.css")" rel="stylesheet" type="text/css">
     <link href="@routes.Assets.versioned("css/layout.min.css")" rel="stylesheet" type="text/css">
     <link href="@routes.Assets.versioned("css/components.min.css")" rel="stylesheet" type="text/css">
     <link href="@routes.Assets.versioned("css/colors.min.css")" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="@routes.Assets.versioned("/js/main/jquery.min.js")"></script>
	<script src="@routes.Assets.versioned("/js//main/bootstrap.bundle.min.js")"></script>
	<script src="@routes.Assets.versioned("/js/plugins/loaders/blockui.min.js")"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="@routes.Assets.versioned("assets/js/app.js")"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="/" class="d-inline-block">
				<img src="/assets/images/logo_light.png" alt="">
			</a>
		</div>
		<div>
			<h1 style="margin:15px; text-align: center;"> Welcome to Graduate Internship Application Page</h1>
		</div>

		<div class="d-xl-none">
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-demo-dark">
				<i class="icon-menu"></i>
			</button>
		</div>						
		
		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li>
					<a href="login">
					<button type="button" class="btn btn-primary">Login</button>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->



	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h2></i> <span class="font-weight-semibold">Graduate Internship Academic Guidelines</span></h2>
					</div>		
				</div>

				<ul class="nav nav-tabs nav-tabs-highlight">
					<li class="nav-item"><a href="/" class="nav-link" data-toggle="tab">Home</a></li>
					<li class="nav-item"><a href="academicrequirement" class="nav-link active" data-toggle="tab">Academic Requirements</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade show active" id="landing"> </div>
					<div class="tab-pane fade" id="academicrequirement"> </div>
				</div>
											
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">

				<!-- Basic card -->
				<div class="card">

					<div class="card-body">
					<p><a href="#academic requirements">Academic Requirements</a></p>

					<p><a href="#one-credit prereqs">Course Prerequisities for One-Credit Internships</a></p>
					
					<p><a href="#three-credit prereqs">Course Prerequisites for Three-Credit Internships</a></p>
						
						</ul><h3>Internships For Credit</h3>
						<p> Internships for credit are temporary practical work experiences guided by academic knowledge and overseen by a faculty member. Internship courses afford students the opportunity to obtain skills in a practical work setting while integrating classroom concepts with professional expectations.</p>
						
							<h3><a name="academic requirements" id="academic requirements"></a>General Requirements</h3>
							<ul><li>All required work for an internship must be completed during the term of registration.</li>
								<li>Students are expected to work 20 hours per week for a minimum of 12 weeks, unless otherwise noted.</li>
								<li>Students must have an overall GPA of 3.0, unless otherwise noted below.</li>
							
							</ul><h3>Program-Specific Requirements</h3>
							<p><strong>Day/Emerging Leaders and MSMBA:</strong></p>
							
							<ul><li>Must complete all first year Day/Emerging Leaders MBA requirements.</li>
							</ul><p><strong>Evening/Professional MBA:</strong></p>
							
							<ul><li>Must complete all MBA Foundation Courses plus two additional courses.</li>
							</ul><p><strong>MSA:</strong></p>
							
							<ul><li>Completion of nine credit hours of accounting courses at the 600-level or higher, and two semesters of grad coursework at Bentley or demonstrated academic understanding of accounting from undergraduate studies, at an intermediate or higher level.</li>
								<li>Must provide the names of two MSA faculty references.</li>
								<li>Must have a 3.0 GPA overall and in all accounting courses.</li>
								<li>May only do one one-credit internship and one three-credit internship in MSA Program.</li>
							</ul><p><strong>MSF: </strong></p>
							
							<ul><li>Must have a 3.25 GPA overall and in required FI courses.</li>
								<li>Must complete at least four FI courses at the 600-level or higher.</li>
							</ul><p><strong>MSMA: </strong></p>
							
							<ul><li>Must complete at least two MK courses at the 600-level or higher.</li>
							</ul><h3><a name="one-credit prereqs" id="one-credit prereqs"></a>Course Prerequisities for One-Credit Internships</h3>
							
							<p><a href="http://academics.bentley.edu/departments/accountancy/graduate-courses-accounting#AC_590" target="_blank">AC 590 Internship in Accounting Practice</a><br />
							Note: Students must work a minimum of 15 hours per week for a minimum of ten weeks  </p>
							
							<p>CS 590 Internship in Information Technology<br />
							Note: Students must work a minimum of 120 hours</p>
							
							<p><a href="http://academics.bentley.edu/departments/finance/graduate-finance-courses#FI_590" target="_blank">FI 590 Internship in Finance</a><br />
							Note: Students must work a minimum of 240 hours</p>
							
							<p><a href="http://academics.bentley.edu/departments/law-taxation-and-financial-planning/financial-planning-courses#FP_590" target="_blank">FP 590 Internship in Financial Planning Practice</a><br />
							Note: Students must work a minimum of 15 hours per week for a minimum of ten weeks</p>
							
							<p><a href="http://academics.bentley.edu/departments/idcc/graduate-hfid-courses#HF_590" target="_blank">HF 590 Internship in HFID</a><br />
							Note: Students must work a minimum of 120 hours</p>
							
							<p>IPM 590 Internship in Information Process Management<br />
							Note: Students must work a minimum of 120 hours</p>
							
							<p><a href="http://academics.bentley.edu/departments/management/graduate-management-courses#MG_590" target="_blank">MG 590 Internship in Management</a><br />
							Note: Students must work a minimum of 200 hours</p>
							
							<p><a href="http://academics.bentley.edu/departments/law-taxation-and-financial-planning/taxation-courses#TX_590" target="_blank">TX 590 Internship in Tax Practice</a><br />
							Note: Students must work a minimum of 15 hours per week for a minimum of ten weeks</p>
							
							<h3><a name="three-credit prereqs" id="three-credit prereqs"></a>Course Prerequisities for Three-Credit Internships</h3>
							
							<p><a href="http://academics.bentley.edu/departments/accountancy/graduate-courses-accounting#AC_701" target="_blank">AC 701 Internship in Accounting Practice</a><br />
							Note: Students are expected to work 35 hours per week for a minimum of 10 weeks</p>
							
							<p><a href="http://academics.bentley.edu/departments/computer-information-systems/msit-course-descriptions#CS_701" target="_blank">CS 701 Internship in Information Technology</a></p>
							
							<p><a href="http://academics.bentley.edu/departments/computer-information-systems/msit-course-descriptions#CS_881" target="_blank">CS 881 CIS Internship</a></p>
							
							<p><a href="http://academics.bentley.edu/departments/economics/graduate-economics-courses#EC_701" target="_blank">EC 701 Internship in Business Economics</a></p>
							
							<p><a href="http://academics.bentley.edu/departments/management/graduate-management-courses#ES_701" target="_blank">ES 701 Entrepreneurship Practicum</a><br />
							Note: Students are expected to work a minimum of 200 hours across one term</p>
							
							<p>ETH 701 Internship in Business Ethics</p>
							
							<p><a href="http://academics.bentley.edu/departments/finance/graduate-finance-courses#FI_701" target="_blank">FI 701 Internship in Finance</a></p>
							
							<p><a href="http://academics.bentley.edu/departments/law-taxation-and-financial-planning/financial-planning-courses#FP_781" target="_blank">FP 781 Internship in Financial Planning Practice</a><br />
							Note: Students are expected to work 35 hours per week for a minimum of 10 weeks</p>
							
							<p><a href="http://academics.bentley.edu/departments/idcc/graduate-hfid-courses#HF_790" target="_blank">HF 790 Internship in Human Factors in Information Design</a><br />
							Note: Students are expected to work a minimum of 120 hours across one term</p>
							
							<p><a href="http://academics.bentley.edu/departments/management/graduate-management-courses#IB_701" target="_blank">IB 701 Internship in International Business</a></p>
							
							<p><a href="http://academics.bentley.edu/departments/information-and-process-management/graduate-ipm-courses#IPM_701" target="_blank">IPM 701 Internship in Information Process Management</a></p>
							
							<p><a href="http://academics.bentley.edu/departments/management/graduate-management-courses#MG_701">MG 701 Internship in Management</a><br />
							Note: Students are expected to work a minimum of 200 hours across one term</p>
							
							<p><a href="http://academics.bentley.edu/departments/marketing/graduate-marketing-courses#MK_701" target="_blank">MK 701 Internship in Marketing Practice</a><br />
							Note: Students are expected to work 12 hours per week for a minimum of 10 weeks</p>
							
							<p><a href="http://academics.bentley.edu/departments/management/graduate-management-courses#OM_701" target="_blank">OM 701 Internship in Operations Management</a></p>
							
							<p><a href="http://academics.bentley.edu/departments/mathematical-sciences/graduate-mathematics-courses#ST_701" target="_blank">ST 701 Internship in Business Data Analysis</a><br />
							Note: Students are expected to work 15 hours per week for a minimum of 12 weeks</p>
							
							<p><a href="http://academics.bentley.edu/departments/law-taxation-and-financial-planning/taxation-courses#TX_781" target="_blank">TX 781 Internship in Tax Practice</a><br />
							Note: Work 35 hours per week for a minimum of 10 weeks</p>

						</div>
				</div>
				<!-- /basic card -->

			</div>
			<!-- /content area -->


			<!-- Footer -->
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="text-center d-lg-none w-100">
                        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                            <i class="icon-unfold mr-2"></i>
                            Footer
                        </button>
                    </div>

                    <div class="navbar-collapse collapse" id="navbar-footer" >
                        <span class="navbar-text" >
                            &copy; 2020. <a href="#">Bentley Internship Application</a> by <p>Catherine X., Segunfunmi O., Ellis Y., Lares X</p>
                        </span>
                    </div>
                </div>
             <!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
