@(topic: String, acct: Option[model.db.collections.Account])(implicit messages: Messages, flash: Flash)

@main(topic){
	<div class="navbar-nav-link d-flex align-items-center">
        <a><span style="margin:10px;">@acct.get.Email</span></a>
   		<a href="/logout">@messages("logout")</a>
   </div>

}{
 <p><span style = "font-size:24px;">@acct.get.Name</span>
 <br>( @acct.get.AccountType )</p>
}{
  <div class="content">
    <!-- Stats with progress -->
    <div class="mb-3 pt-2">
      <h6 class="mb-0 font-weight-semibold">
      	Status of Applications
      </h6>
    </div>

    <div class="row">
      

      <div class="col-sm-6 col-xl-3">
        <!-- Orders processed -->
        <div class="card card-body text-center bg-teal-400 has-bg-image">
          <div class="svg-center position-relative" id="progress_icon_three"></div>
          <h2 class="progress-percentage mt-2 mb-1 font-weight-semibold">@messages("adv_num_applications_left")</h2>
          Applications Remaining
          <div class="font-size-sm opacity-75">@messages("adv_num_applications_done") applications reviewed</div>
        </div>
        <!-- /orders processed -->
      </div>
    </div>

    <div class="mb-3 pt-2">
      <h6 class="mb-0 font-weight-semibold">
        Applications for Review
      </h6>
    </div>
   <div>
      <div class="card">
        <div class="card-header header-elements-sm-inline">
          
        </div>

        

        <div class="card-body d-md-flex justify-content-md-between flex-md-wrap">
          <div class="d-flex mb-3 mb-md-0">

            <div class="ml-3">
            	  <h5 class="font-weight-semibold mb-0" style="text-align: center;">@messages("num_applications_left")</h5>
              <span class="text-muted">total applications remaining</span>
            </div>
          </div>

          <div class="d-flex mb-3 mb-md-0 ">
            <div class="ml-3">
              
            </div>
          </div>
          <div class="d-flex align-items-center mb-3 mb-md-0 ">
            
            <div class="ml-3">
              
            </div>
          </div>

        </div>

        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
              <tr>
                <th style="width: 50px">Status</th>
                <th style="width: 300px;">Student</th>
                <th>Description</th>
              </tr>
            </thead>
            
            <tbody>
              
              <tr>
                <td class="text-center">
                  <span class="badge badge-mark border-success mr-1"></span>
                  <div class="font-size-sm text-muted line-height-1">pending</div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                      <a href="#" class="btn bg-teal-400 rounded-round btn-icon btn-sm">
                        <span class="letter-icon"></span>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="text-default font-weight-semibold letter-icon-title">Student 5</a>
                    </div>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-default">
                    <div class="font-weight-semibold">big company, exciting position</div>
                  </a>
                </td>
                <td></td>
              </tr>
              
              <tr>
                <td class="text-center">
                  <span class="badge badge-mark border-success mr-1"></span>
                  <div class="font-size-sm text-muted line-height-1">pending</div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                      <a href="#" class="btn bg-teal-400 rounded-round btn-icon btn-sm">
                        <span class="letter-icon"></span>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="text-default font-weight-semibold letter-icon-title">Student 4</a>
                    </div>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-default">
                    <div class="font-weight-semibold">sketchy company but good opportunity</div>
                  </a>
                </td>
                <td></td>
              </tr>
              
              <tr>
                <td class="text-center">
                  <span class="badge badge-mark border-success mr-1"></span>
                  <div class="font-size-sm text-muted line-height-1">pending</div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                      <a href="#" class="btn bg-teal-400 rounded-round btn-icon btn-sm">
                        <span class="letter-icon"></span>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="text-default font-weight-semibold letter-icon-title">Student 3</a>
                    </div>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-default">
                    <div class="font-weight-semibold">last-minute job</div>
                  </a>
                </td>
                <td></td>
              </tr>

              <tr>
                <td class="text-center">
                  <i class="icon-checkmark3 text-success"></i>
                  <div class="font-size-sm text-muted line-height-1">approved</div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                      <a href="#" class="btn bg-success-400 rounded-round btn-icon btn-sm">
                        <span class="letter-icon"></span>
                      </a>
                      
                    </div>
                    <div>
                      <a href="#" class="text-default font-weight-semibold letter-icon-title">Student 2</a>
                    </div>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-default">
                    <div class="font-weight-semibold">solid internship in Boston</div>
                  </a>
                </td>
                <td class="text-center"></td>
              </tr>

              <tr>
                <td class="text-center">
                  <i class="icon-cross2 text-danger-400"></i>
                  <div class="text-muted font-size-sm">rejected</div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                      <a href="#">
                        <img src="@routes.Assets.versioned("images/placeholders/placeholder.jpg")" class="rounded-circle" width="32" height="32" alt="">
                      </a>
                    </div>
                    <div>
                      <a href="#" class="text-default font-weight-semibold">Student 1</a> 
                    </div>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-default">
                    <div class="font-weight-semibold">bogus internship that got rejected</div>
                  </a>
                </td>
                <td class="text-center"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /support tickets -->
    </div>
  
  </div>

}