@(appForm: Form[forms.AppForm.Data], page: String, acct: Option[model.db.collections.Account], res: Option[model.db.collections.Application])(implicit request: RequestHeader, messages: Messages, flash: Flash)
@import b4.vertical.fieldConstructor
@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main(page){
	<div class="navbar-nav-link d-flex align-items-center">
        <a><span style="margin:10px;">@acct.get.Email</span></a>
   		<a href="/logout">@messages("logout")</a>
   </div>
}{
 <p><span style = "font-size:24px;">@acct.get.Name</span>
 <br>( @acct.get.AccountType )</p>
}{
<div class="content">
	
	@*in order to create and update the form: Need to create a if statement like the superhero-testing create view*@
	@b4.vertical.formCSRF(routes.CoordinatorReviewController.formSubmit(), 'id -> "CoordinatorForm", 'class -> "wizard-form steps-validation wizard clearfix") {implicit vfc =>
		<div class="card" style="padding:30px;">
      		<div class="card-header bg-white header-elements-inline">
        			<h5 class="card-title">Application Form</h5>
        			<div class="header-elements">

        			</div>
      		</div>
      		<br>
      		<h6>Coordinator Approval</h6>
      		<br>
      		<div class="row">
      			<div class="col-md-6">
      				<div class="form-group">
						@b4.text(appForm("id"), '_label -> "Application ID", 'class -> "form-control required", 'value -> {res.get.id})
           			</div>
      			</div>
      			<div class="col-md-6">
					<div class="form-group">
						@b4.select(appForm("coordinator_status"), options = Seq("pending" -> "Pending", "approved" -> "Approved", "rejected" -> "Rejected"), 'value -> {res.get.coordinator_status}, '_label -> "Appproval Status")
           			</div>
       			</div>
      		</div>
			
			<br>
         
          	<div class = "row">
          		<button type="submit" class="btn btn-primary legitRipple" role="button" action="submit"> @messages("submit") </button>
          	</div>
        </div>
         

  }
 	</div>
          <!-- /wizard with validation -->
  <!-- /content area -->
}
