@(res: Option[model.db.collections.Application], page: String, acct: Option[model.db.collections.Account], appForm: Form[forms.AppForm.Data])(implicit request: RequestHeader, messages: Messages, flash: Flash)
@import b4.vertical.fieldConstructor
@import java.time.format.DateTimeFormatter
@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main(page){
	<div class="navbar-nav-link d-flex align-items-center">
        <a><span style="margin:10px;">@acct.get.Email</span></a>
   		<a href="/logout">@messages("logout")</a>
   </div>
}{
 <p><span>@acct.get.Name</span>
 <br>( @acct.get.AccountType )</p>
}{
<div class="content">
@b4.vertical.formCSRF(routes.DeanReviewController.formSubmit(), 'id -> "DeanForm", 'class -> "wizard-form steps-validation wizard clearfix") {implicit vfc =>
<h5 class="card-title">Submitted Application</h5>
	<div class = "wizard-form steps-validation wizard clearfix">
		<div class="card" style="padding:30px ;">
      		<h6><b><ins>Personal data</ins></b></h6>
      		
      		<div class="row">
      			<div class="col-md-6">
        				<div class="form-group">
        					<p><b>Applicant Name:</b>  @res.get.name </p> 
        				</div>
       			</div>
				<div class="col-md-6">
					<div class="form-group">
						<p><b>Email:</b> @res.get.email</p>
        				</div>
       			</div>
			</div>
			
          	<div class="row">
            		<div class="col-md-6">
              		<div class="form-group">
              			<p><b>International Student?:</b> @if(res.get.international.toString == "true"){Yes}else{No} </p>
              		</div>
            		</div>

            		<div class="col-md-6">
            			<div class="form-group">
            				<p><b>Require CPT? (international student only):</b> @if(res.get.international.toString == "true"){Yes}else{No}</p>
                		</div>
            		</div>
			</div>
			
			<br>
			<h6><b><ins>Education</ins></b></h6>
          	<div class="row">
            		<div class="col-md-6">
              		<div class="form-group">
              			<p> <b>Major:</b> @res.get.major </p> 
              		</div>
            		</div>

            		<div class="col-md-6">
              		<div class="form-group">
              			<p><b>Concentration if majoring in MBA:</b> @res.get.concentration</p>
              		</div>
            		</div>
          	</div>

          	<div class="row">
          		<div class="col-md-6">
              		<div class="form-group">
              			<p><b>Student ID:</b> @res.get.studentId</p>
              		</div>
            		</div>
            		<div class="col-md-6">
              		<div class="form-group">
              			<p><b>GPA:</b> @res.get.gpa</p>
              		</div>
            		</div>
            	</div>
            	
			<br>
        	<h6><b><ins>Internship Details</ins></b></h6>
          	<div class="row">
            		<div class="col-md-6">
              		<div class="form-group">
              			<p><b>Company:</b> @res.get.company</p>
              		</div>

              		<div class="form-group">
              			<p><b>Position:</b> @res.get.position</p>
              		</div>

              		<div class="row">
                			<div class="col-md-6">
	                			<p><b>Start from:</b> @res.get.start.toString.substring(4,10) @res.get.start.toString.substring(24,28)</p>
                			</div>
                	</div>
                	<div class="row">
                			<div class="col-md-6">
                				<p><b>To:</b> @res.get.end.toString.substring(4,10) @res.get.end.toString.substring(24,28)</p>
                			</div>
              		</div>
            		</div>

            		<div class="col-md-6">
              		<div class="form-group">
              			<p><b>Internship course type:</b> @res.get.credit_type</p>
              		</div>
              		<div class="form-group">
              			<p><b>How this position related to your program:</b> @res.get.description</p>
              		</div>

            		</div>
          	</div>
         </div>
          	
          
        <div class="card" style="padding:30px;">
      		<div class="card-header bg-white header-elements-inline">
        			<h5 class="card-title">Dean Review</h5>
        			<div class="header-elements">

        			</div>
      		</div>
      		<br>
      		
      		<div class="row">
      			<div class="col-md-6" style="display:none">
      				<div class="form-group">
						@b4.text(appForm("id"), '_label -> "Application ID", 'class -> "form-control required", 'value -> {res.get.id})
           			</div>
      			</div>
      			<div class="col-md-6">
					<div class="form-group">
						@b4.select(appForm("dean_status"), options = Seq("pending" -> "Pending", "approved" -> "Approved", "rejected" -> "Rejected"), 'value -> {res.get.dean_status}, '_label -> "Appproval Status")
           			</div>
       			</div>
      		</div>
			
			<br>
         
          	<div class = "row">
          		<button type="submit" class="btn btn-primary legitRipple" role="button" action="submit"> @messages("submit") </button>
          	</div>
        </div>
   <!--       @b4.static(Html("<hr>")){ <a href="/create?update"><i class="fa fa-star"></i> @messages ("update")</a> }
 -->
 }
  	</div>
 </div>
          <!-- /wizard with validation -->
  <!-- /content area -->
}
