@(topic: String, acct: Option[model.db.collections.Account])(implicit messages: Messages, flash: Flash)

@main(topic){
	<div class="navbar-nav-link d-flex align-items-center">
        <a><span style="margin:10px;">@acct.get.Email</span></a>
   		<a href="/logout">@messages("logout")</a>
   </div>
}{
 <p><span style = "font-size:24px;">@acct.get.Name</span>
 <br>( @acct.get.AccountType )</p>
}{
  <div class="content">
    <!-- Stats with progress -->
    <div class="mb-3 pt-2">
      <h6 class="mb-0 font-weight-semibold">
        Process Completion Status
      </h6>
    </div>

    <div class="row">
      

      <div class="col-sm-6 col-xl-3">
        <!-- Orders processed -->
        <div class="card card-body text-center bg-teal-400 has-bg-image">
          <div class="svg-center position-relative" id="progress_icon_three"></div>
          <h2 class="progress-percentage mt-2 mb-1 font-weight-semibold">@messages("percentage")</h2>

          Application Processed
          <div class="font-size-sm opacity-75">@messages("task_complete_count") tasks completed</div>
        </div>
        <!-- /orders processed -->
      </div>
    </div>

    <div class="mb-3 pt-2">
      <h6 class="mb-0 font-weight-semibold">
        Task Completion Details
      </h6>
    </div>
    <div>
      <div class="card">


        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
              <tr>
                <th style="width: 50px">Status</th>
                <th style="width: 300px;">Responsible User</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-active table-border-double">
                <td colspan="3">Future Tasks</td>
                <td></td>
              </tr>

              <tr>
                <td class="text-center">
                  <span class="badge badge-mark border-success mr-1"></span>
                  <div class="font-size-sm text-muted line-height-1">pending</div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                      <a href="#" class="btn bg-teal-400 rounded-round btn-icon btn-sm">
                        <span class="letter-icon"></span>
                      </a>
                    </div>
                    <div>
                      <a href="#" class="text-default font-weight-semibold letter-icon-title">Annabelle Doney</a>
                    </div>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-default">
                    <div class="font-weight-semibold">Workaround for OS X selects printing bug</div>
                  </a>
                </td>
                <td></td>
              </tr>

              <tr class="table-active table-border-double">
                <td colspan="3">Resolved tasks</td>
                <td class="text-right">
                </td>
              </tr>

              <tr>
                <td class="text-center">
                  <i class="icon-checkmark3 text-success"></i>
                  <div class="font-size-sm text-muted line-height-1">resolved</div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                      <a href="#" class="btn bg-success-400 rounded-round btn-icon btn-sm">
                        <span class="letter-icon"></span>
                      </a>
                      
                    </div>
                    <div>
                      <a href="#" class="text-default font-weight-semibold letter-icon-title">Alan Macedo</a>
                    </div>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-default">
                    <div class="font-weight-semibold">Workaround for OS X selects printing bug</div>
                  </a>
                </td>
                <td class="text-center"></td>
              </tr>

              <tr class="table-active table-border-double">
                <td colspan="3">Closed tasks</td>
                <td class="text-right"></td>
              </tr>

              <tr>
                <td class="text-center">
                  <i class="icon-cross2 text-danger-400"></i>
                  <div class="text-muted font-size-sm">Closed</div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                      <a href="#">
                        <img src="@routes.Assets.versioned("images/placeholders/placeholder.jpg")" class="rounded-circle" width="32" height="32" alt="">
                      </a>
                    </div>
                    <div>
                      <a href="#" class="text-default font-weight-semibold">Mitchell Sitkin</a>
                      
                    </div>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-default">
                    <div class="font-weight-semibold">Workaround for OS X selects printing bug</div>
                  </a>
                </td>
                <td class="text-center"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /support tickets -->
    </div>
  
  </div>

}
