@(topic: String, acct: Option[model.db.collections.Account], res: Option[model.db.collections.Application])(implicit messages: Messages, flash: Flash)
@import scala.util.Try


@main(topic){
	<div class="navbar-nav-link d-flex align-items-center">
        <a><span style="margin:10px;">@Try(acct.get.Email).getOrElse("Email Unknown")</span></a>
   		<a href="/logout">@messages("logout")</a>
   </div>
}{
 <p><span style = "font-size:24px;">@Try(acct.get.Name).getOrElse("Nobody")</span>
 <br>( @Try(acct.get.AccountType).getOrElse("Unknown Account Type") )</p>
}{
  <div class="content">
    <!-- Stats with progress -->
    <div class="mb-3 pt-2">
      <h6 class="mb-0 font-weight-semibold">
        Process Completion Status
      </h6>
    </div>

    <div class="row">
      

      <div class="col-sm-6 col-xl-3">
        <!-- Orders processed -->
        <div class="card card-body text-center bg-teal-400 has-bg-image">
          <div class="svg-center position-relative" id="progress_icon_three"></div>
          <h2 class="progress-percentage mt-2 mb-1 font-weight-semibold">@if(res.get == null){0}else if(res.get.advisor_status == "approved"){50} else if(res.get.coordinator_status == "approved"){83} else if(res.get.dean_status == "approved"){100} else {17}@messages("percentage")</h2> 

          Application Processed
          <div class="font-size-sm opacity-75">@if(res.get == null){0}else if(res.get.advisor_status == "approved"){3} else if(res.get.coordinator_status == "approved"){5} else if(res.get.dean_status == "approved"){6} else {1} tasks completed</div>
        </div>
        <!-- /orders processed -->
      </div>
    </div>

    <div class="mb-3 pt-2">
      <h6 class="mb-0 font-weight-semibold">
        Internship Application Completion Details
      </h6>
    </div>
    
    <div>
      <div class="card">
        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
              <tr>
                <th style="width: 50px">Status</th>
                <th style="width: 300px;">Process</th>
              </tr>
            </thead>
            
            <tbody>
            @if(res.get == null) {
              <tr>
                <td class="text-center">
                  <p style="color:red;"><b>@messages("incomplete")</b></p>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                    </div>
                    <div>
                     <a href="form" >@messages("process1")              
                    </div>
                  </div>
                </td>
                <td></td>
              </tr>

              <tr>
                <td class="text-center">
                  <p style="color:red;"><b>@messages("incomplete")</b></p>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                    </div>
                    <div>
                      <a href="https://bentley.campus.eab.com/student/appointments/new" > @messages("process2")</a>
                    
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-center">
                  <span style="color:red;"><b>@messages("incomplete")</b></span>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                    </div>
                    <div>
                      <a class="text-default font-weight-semibold">@messages("process3")</a>
                      
                    </div>
                  </div>
                </td>

                <td class="text-center"></td>
              </tr>
              
              <tr>
                <td class="text-center">
                  <i class="icon-cross2 text-danger-400"></i>
                  <p style="color:red;"><b>@messages("incomplete")</b></p>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                    </div>
                    <div>
                      <a class="text-default font-weight-semibold">@messages("process4")</a> 
                    </div>
                  </div>
                </td>

                <td class="text-center"></td>
              </tr>
              
               <tr>
                <td class="text-center">
                  <p style="color:red;"><b>@messages("incomplete")</b></p>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                    </div>
                    <div>
                      <a class="text-default font-weight-semibold">@messages("process5")</a>
                    </div>
                  </div>
                </td>
                <td class="text-center"></td>
              </tr>}else{
              <tr>
                <td class="text-center">
                  @if(res.get == null) {<p style="color:red;"><b>@messages("incomplete")</b></p>} else {<p style="color:green;">@messages("complete")}</p>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                    </div>
                    <div>
                     @if(res.get == null) {<a href="form" >@messages("process1")</a>} else { <a href="/review/@res.get.id"> @messages("review") </a>}              
                    </div>
                  </div>
                </td>
                <td></td>
              </tr>

              <tr>
                <td class="text-center">
                @if(res.get == null) {<p style="color:red;"><b>@messages("incomplete")</b></p>} else if(res.get.advisor_status == "pending") {<p style="color:orange;"> Pending} else {<p style="color:green;">@messages("complete")}</p>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                    </div>
                    <div>
                      <a href="https://bentley.campus.eab.com/student/appointments/new" > @messages("process2")</a>
                    
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-center">
                  @if(res.get == null) {<p style="color:red;"><b>@messages("incomplete")</b></p>} else if(res.get.advisor_status == "pending") {<p style="color:orange;"> Pending} else if(res.get.advisor_status == "rejected") {<p style="color:Red;"> @res.get.advisor_status.capitalize} else {<p style="color:green;">@res.get.advisor_status.capitalize}</p>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                    </div>
                    <div>
                      <a class="text-default font-weight-semibold">@messages("process3")</a>
                      
                    </div>
                  </div>
                </td>

                <td class="text-center"></td>
              </tr>
              
              <tr>
                <td class="text-center">
                  <i class="icon-cross2 text-danger-400"></i>
                  @if(res.get == null) {<p style="color:red;"><b>@messages("incomplete")</b></p>} else if(res.get.coordinator_status == "pending") {<p style="color:orange;"> Pending} else if(res.get.coordinator_status == "rejected") {<p style="color:Red;"> @res.get.coordinator_status.capitalize}else {<p style="color:green;">@res.get.coordinator_status.capitalize}</p>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                    </div>
                    <div>
                      <a class="text-default font-weight-semibold">@messages("process4")</a> 
                    </div>
                  </div>
                </td>

                <td class="text-center"></td>
              </tr>
              
               <tr>
                <td class="text-center">
                  @if(res.get == null) {<p style="color:red;"><b>@messages("incomplete")</b></p>} else if(res.get.dean_status == "pending") {<p style="color:orange;"> Pending}else if(res.get.dean_status == "rejected") {<p style="color:Red;"> @res.get.dean_status.capitalize}else{<p style="color:green;">@res.get.dean_status.capitalize}</p>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                    </div>
                    <div>
                      <a class="text-default font-weight-semibold">@messages("process5")</a>
                    </div>
                  </div>
                </td>
                <td class="text-center"></td>
              </tr>}              
              
             
              
            </tbody>
          </table>
       
       </div>
      </div>
      <!-- /support tickets -->
    </div>
  
  </div>


}
