@(title: String)

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="../../../../global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="../../../../global_assets/js/main/jquery.min.js"></script>
	<script src="../../../../global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="../../../../global_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="assets/js/app.js"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="/" class="d-inline-block">
				<img src="/assets/images/logo_light.png" alt="">
			</a>
		</div>
		<div>
			<h1> Welcome to Graduate Internship Application Page</h1>
		</div>

		<div class="d-xl-none">
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-demo-dark">
				<i class="icon-menu"></i>
			</button>
		</div>						
		
		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li>
					<a href="login">
					<button type="button" class="btn btn-primary">Login/Signup</button>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->



	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h2></i> <span class="font-weight-semibold">Graduate Internship Application Process</span></h2>
					</div>		
				</div>

				<ul class="nav nav-tabs nav-tabs-highlight">
					<li class="nav-item"><a href="landing" class="nav-link active" data-toggle="tab">Home</a></li>
					<li class="nav-item"><a href="academicrequirement" class="nav-link" data-toggle="tab">Academic Requirements</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade show active" id="landing"> </div>
					<div class="tab-pane fade" id="academicrequirement"> </div>
				</div>
											
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">

				<!-- Basic card -->
					<div class="card">
					<div class="card-header header-elements-inline">
					    <h5 class="card-title">Application Steps:</h5>
					    <div class="header-elements">
					    </div>
					</div>
					
					<div class="card-body">
					    <ul class="media-list">
					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">1. Sign up for an account on this page. (top right corner)</h6>
					                Please make sure you have your student email and student ID ready.
					            </div>				
					        </li>
					
					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">2. Fill in an internship application</h6>
					                You will need the information on offer letter to complete the application
					            </div>
					        </li>
					        
					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">3. schedule a meeting with academic advisor to confirm academic qualification</h6>
					                <a href = "https://bentley.campus.eab.com/student/appointments/new"> Schedule an appointment</a>
					            </div>
					        </li>					        

					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">4. Your internship coordinator will review your application and approve it</h6>
					                Internship coordinator is assigned based on the internship course you selected.
					            </div>
					        </li>
					        
					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">5. Dean will review and approve your application</h6>
					                Internship coordinator is assigned based on the internship course you selected.
					            </div>
					        </li>					        
					      
					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">6. After Dean sends your application to Registar, you will see the internship course on your workday.</h6>
					            </div>
					        </li>					      
					        					    
					    </ul>
					</div>
					</div>
				<!-- /basic card -->
				
			</div>
			<!-- /content area -->


			<!-- Footer -->
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="text-center d-lg-none w-100">
                        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                            <i class="icon-unfold mr-2"></i>
                            Footer
                        </button>
                    </div>

                    <div class="navbar-collapse collapse" id="navbar-footer">
                        <span class="navbar-text">
                            &copy; 2020. <a href="#">Bentley Internship Application</a> by <p>Catherine X., Segunfunmi O., Ellis Y., Lares X</p>
                        </span>
                    </div>
                </div>
             <!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
