@(title: String)(implicit messages: Messages)

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@title</title>

	<!-- Global stylesheets -->
	 <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
     <link href="@routes.Assets.versioned("css/icons/icomoon/styles.min.css")" rel="stylesheet" type="text/css">
     <link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet" type="text/css">
     <link href="@routes.Assets.versioned("css/bootstrap_limitless.min.css")" rel="stylesheet" type="text/css">
     <link href="@routes.Assets.versioned("css/layout.min.css")" rel="stylesheet" type="text/css">
     <link href="@routes.Assets.versioned("css/components.min.css")" rel="stylesheet" type="text/css">
     <link href="@routes.Assets.versioned("css/colors.min.css")" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="@routes.Assets.versioned("/js/main/jquery.min.js")"></script>
	<script src="@routes.Assets.versioned("/js//main/bootstrap.bundle.min.js")"></script>
	<script src="@routes.Assets.versioned("/js/plugins/loaders/blockui.min.js")"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="@routes.Assets.versioned("assets/js/app.js")"></script>
	<!-- /theme JS files -->
</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="/" class="d-inline-block">
				<img src="/assets/images/logo_light.png" alt="">
			</a>
		</div>
		<div>
			<h1 style="margin:15px; text-align: center;"> Welcome to Graduate Internship Application Page</h1>
		</div>

		<div class="d-xl-none">
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-demo-dark">
				<i class="icon-menu"></i>
			</button>
		</div>						
		
		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li>
					<a href="login">
					<button type="button" class="btn btn-primary">Login</button>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->



	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h2></i> <span class="font-weight-semibold">Graduate Internship Application Process</span></h2>
					</div>		
				</div>

				<ul class="nav nav-tabs nav-tabs-highlight">
					<li class="nav-item"><a href="/" class="nav-link active" data-toggle="tab">Home</a></li>
					<li class="nav-item"><a href="academicrequirement" class="nav-link" data-toggle="tab">Academic Requirements</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade show active" id="landing"> </div>
					<div class="tab-pane fade" id="academicrequirement"> </div>
				</div>
											
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">

				<!-- Basic card -->
					<div class="card">
					<div class="card-header header-elements-inline">
					    <h5 class="card-title" style="margin-left:15px; ">Application Steps:</h5>
					    <div class="header-elements">
					    </div>
					</div>
					
					<div class="card-body">
					    <ul class="media-list">
					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">@messages("process0")</h6>
					                @messages("process01")
					            </div>				
					        </li>
					
					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">@messages("process1")</h6>
					                @messages("process11")
					            </div>
					        </li>
					        
					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">@messages("process2")</h6>
					                @messages("process22")<a href = "https://bentley.campus.eab.com/student/appointments/new" target="_blank"> @messages("process21")</a>
					            </div>
					        </li>					        

					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">@messages("process3")</h6>
					            </div>
					        </li>
					        
					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">@messages("process4") </h6>
					                @messages("process41")
					            </div>
					        </li>	
					        
					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">@messages("processint")</h6>
					                @messages("processint1") <a href = "https://www.bentley.edu/offices/center-international-student-scholars/curricular-practical-training" target="_blank"> Learn more about CPT</a>
					            </div>
					        </li>					        				        
					      
					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">@messages("process5") </h6>
					            </div>
					        </li>			
					        
					        <li class="media">
					            <div class="mr-3">
					                <a  class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-checkmark3"></i></a>
					            </div>
					
					            <div class="media-body">
					                <h6 class="media-title font-weight-semibold">@messages("process6") </h6>
					            </div>
					        </li>					        		      
					        					    
					    </ul>
					</div>
					</div>
				<!-- /basic card -->
				
			</div>
			<!-- /content area -->


			<!-- Footer -->
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="text-center d-lg-none w-100">
                        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                            <i class="icon-unfold mr-2"></i>
                            Footer
                        </button>
                    </div>

                    <div class="navbar-collapse collapse" id="navbar-footer">
                        <span class="navbar-text">
                            &copy; 2020. <a href="#">Bentley Internship Application</a> by <p>Catherine X., Segunfunmi O., Ellis Y., Lares X</p>
                        </span>
                    </div>
                </div>
             <!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
